body{
	font-family: sans-serif;
}
.table {
		margin-right: auto;
		margin-left: auto;
    position: relative;
    width: 1640px;
    height: 800px;
		/*background-color: #eff5f6;*/
    /*border: 3px solid #F2C78F;*/
}
h1{
	top: auto;
	text-align: center;
	font-family: sans-serif;
}
.round {
    text-align: center;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    top: 275px;
    margin: auto;
    left: 705px;
    width: 200px;
    height: 109px;
    background-color: #F6F5ED;
    /* border-radius: 10px; */
    border-right: 1px solid black;
}
.player {
    position: absolute;
    top: 50%;
    /* overflow-x: scroll; */
    /* bottom: 105px; */
    /* right: 65px; */
    width: 100%;
    height: 39%;
    border: 3px solid #F2C78F;
    /* left: 50%; */
    text-align: center;
}
.status {
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    overflow: scroll;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: #F6F5ED;
    line-height: 1.5em;
    float: right;
}
.opponent1 {
	position: absolute;
    line-height: 5.5em;
    text-align: center;
    top: 5px;
    right: 10px;
    width: 200px;
    height: 200px;
		color: #3d4180;
		border-radius: 10px;
}
.opponent2 {
	position: absolute;
    line-height: 5.5em;
    text-align: center;
    top: 5px;
    left: 10px;
    width: 200px;
    height: 200px;
		border-radius: 10px;
		color: #3d4180;
}

.ownPlayer {
    /* padding-top: 10px; */
    position: absolute;
    text-align: center;
    /* bottom: 14px; */
    /* left: 691px; */
    width: 20%;
    /* height: 20%; */
    /* color: #3d4180; */
    border-radius: 10px;
    /* display: inline-block; */
    margin-top: 23px;
    margin-left: 250px;
}
.gameStatus {
    margin: 1px solid black;
    position: relative;
    border: 2px solid black;
    height: 263px;
    width: 610px;
    margin: auto;
}

.playerButton {
    /* position: absolute; */
    /* padding-top: 10px; */
    /* top: 382px; */
    right: 493px;
    width: 39%;
    height: 20%;
    text-align: center;
    /* background-color: yellowgreen; */
    /* padding-left: 100; */
    display: inline-block;
    margin-top: 48px;
    margin-left: 350px;
}
.playerTurn {
    position: absolute;
    padding-top: 10px;
    /* padding-left: 10px; */
    /* top: 8px; */
    /* left: 25%; */
    width: 210px;
    height: 112px;
    /* border-radius: 10px; */
    font-size: 16px;
    background-color: #F6F5ED;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.turnName {
    font-weight: 34;
    text-align: center;
    margin-top: 10px;
}
.playerCard {
    height: 166px;
    width: 105px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 8px 3px 2px -60px;
    /* float: left; */
    display: inline-block;
    background-color: ghostwhite;
}
.suit {
    /* padding-top: 13px; */
    /* padding-bottom: 21px; */
    /* padding-left: 33px; */
    font-size: 44px;
    float: left;
    margin-top: -35px;
    margin-left: 8px;
}
#rank {
    width: 25px;
    /*position: relative;*/
    font-size: 24px;
    padding: 5px 7px 25px;
}
#playerHand {
    position: absolute;
    overflow-x: scroll;
    bottom: 0px;
    /* right: 112px; */
    width: 100%;
    /* height: 74%; */
    border: 3px solid #F2C78F;
}
#logTable{
    text-align: center;
		padding-bottom: 10px;
    padding-top: 10px;
    right: 25px;*/
    height:100%;
    width: 100%;
}
button {
    width: 141px;
    height: 51px;
    font-size: medium;
    font-weight: bold;
    background-color: blanchedalmond;
    border-radius: 5px;
}
select{
	width: 141px;
	height: 51px;
	font-size: medium;
	font-weight: bold;
	border-radius: 5px;
}
#namedCard{
	font-size: 16px;
    margin-top: 10px;
}
#challenge{
	font-size: 16px;
}
#playingStatus{
	font-size: 15px;
	font-weight: 300;
}
b{
	font-size: 20px;
}
h1{
	35px;
}
.status ::-webkit-scorlbar{
    display:none;
}
